{%  load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'interface/css/header_footer.css ' %}">
    <link rel="stylesheet" href="{% static 'interface/css/hocalar.css ' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <title>Okulcepte</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="yedek">
                <img src="{% static 'interface/img/logo.png' %}">
                <nav>
                    
                        
                        <ul>
                            <li><a href="../index">AnaSayfa</a> </li>
                            <li><a href="../dersler">Dersler</a></li>
                            <li class="active"><a href="../hocalar">Hocalar</a></li>
                            <li><a href="../galeri">Galeri</a></li>
                            <li><a href="../uyeolmak">Admın</a></li>
                            <li><a href="../iletisim">İletisim</a></li>
                        </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <main>
        <div class="yedek">
            <h1>Hocalarımız</h1>
            <div class="hocalar">
                <div class="hoca">
                    <img src="{% static 'interface/img/hoca1.jpg' %}">
                    <div>
                        <h3>Öğr. Ali İsmail Oğlu</h3>
                        <p>Müdür, Cöğrafya Öğretmeni</p>
                    </div>
                </div>
                <div class="hoca">
                    <img src="{% static 'interface/img/hoca2.jpg' %}">
                    <div>
                        <h3>Öğr. Elif Aydoğan</h3>
                        <p>Müdür Yardımcısı, Kimya Öğretmeni</p>
                    </div>
                </div>
                <div class="hoca">
                    <img src="{% static 'interface/img/hoca3.jpg' %}">
                    <div>
                        <h3>Öğr. Ahmet Ferhat</h3>
                        <p>Fizik Öğretmeni</p>
                    </div>
                </div>
                <div class="hoca">
                    <img src="{% static 'interface/img/hoca4.jpeg' %}">
                    <div>
                        <h3>Öğr. Osman Ayaz</h3>
                        <p>Matematik Öğretmeni</p>
                    </div>
                </div>
                <div class="hoca">
                    <img src="{% static 'interface/img/hoca5.jpg' %}">
                    <div>
                        <h3>Öğr. Halime Buğda</h3>
                        <p>Yabancı Dil Öğretmeni</p>
                    </div>
                </div>
                <div class="hoca">
                    <img src="{% static 'interface/img/hoca6.png' %}">
                    <div>
                        <h3>Öğr. Aynur Behrin</h3>
                        <p>Sosyal Bilimleri Öğretmeni</p>
                    </div>
                </div>
            </div>
    </main>
    
    <footer>
        <div class="yedek">
            <div class="column">
                <h3>Okul Cepte</h3>
                <p> Okulcepte 2023 © Tüm Haklar Saklıdır.</p>
            </div>
    
            <div class="column">
                <h3>Hızlı Erişim</h3>
                <ul>
                    <li><a href="../index">AnaSayfa</a> </li>
                    <li><a href="../dersler">Dersler</a></li>
                    <li class="active"><a href="../hocalar">Hocalar</a></li>
                    <li><a href="../galeri">Galeri</a></li>
                    <li><a href="../uyeolmak">Sınıfa Katıl</a></li>
                    <li><a href="../iletisim">İletisim</a></li>
                </ul>
            </div>
    
            <div class="column">
                <h3>İletisim</h3>
                <h5>Adress</h5> 
                <p> İstanbul, Turkey</p>
                <h5>Email Adresi</h5>
                <p>okulcepte@gmail.com</p>
                <h5>Telefon Numarası</h5>
                <p>+90 5378759809</p>            
            </div>
        </div>
    </footer>
</body>
</html>
{% endblock %}