{%  load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'interface/css/header_footer.css ' %}">
    <link rel="stylesheet" href="{% static 'interface/css/index.css ' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <title>Okulcepte</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="yedek">
                <img src="{% static 'interface/img/logo.png' %}">
                <nav>
                    <ul>
                        <li class="active"><a href="../index">AnaSayfa</a> </li>
                        <li><a href="../dersler">Dersler</a></li>
                        <li><a href="../hocalar">Hocalar</a></li>
                        <li><a href="../galeri">Galeri</a></li>
                        <li><a href="../uyeolmak">Admın</a></li>
                        <li><a href="../iletisim">İletisim</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="header">
            <div class="yedek">
                <div class="column">
                    <div class="orta">
                        <h3>Eğitim Merkezi</h3>
                        <h1>Okulcepte Eğitiminde Yeni Sistem</h1>
                        <p>Güçlü bilgi aktarımı ve etkileşimi sağlayan okul dostu bir öğrenme alanı</p>
                    </div>
                </div>
                <img src="{% static 'interface/img/header.png' %}">
            </div>
        </div>

        <div class="servisler">
            <div class="yedek">
                <h1>servislerimiz</h1>
                <div class="servis">
                    <h3><i class="fa fa-child" aria-hidden="true"></i> Oyun Alanı</h3>
                    <p>Güvenli ve eğlenceli bir oyun alanımız var.</p>
                </div>
                <div class="servis">
                    <h3><i class="fa fa-music" aria-hidden="true"></i> Müzik ve dans</h3>
                    <p>Tanınmış danslarda profesyonel eğitimimiz var.</p>
                </div>
                <div class="servis">
                    <h3><i class="fa fa-picture-o" aria-hidden="true"></i> Sanat ve Zanaat</h3>
                    <p>Sanat ve zanaat için eksiksiz malzemelerimiz var.</p>
                </div>
                <div class="servis">
                    <h3><i class="fa fa-bus" aria-hidden="true"></i> Güvenli Ulaşım</h3>
                    <p>Güvenli, doğru ve hızlı ulaşımız var.</p>
                </div>
                <div class="servis">
                    <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Sağlıklı Yiyecek</h3>
                    <p>Seçkin bir şefin gözetiminde sağlıklı ve lezzetli yemeklerimiz var..</p>
                </div>
                <div class="servis">
                    <h3><i class="fa fa-briefcase" aria-hidden="true"></i> Eğitim Turu</h3>
                    <p>Eşsiz, eğlenceli ve güvenli eğitici turlar sunuyoruz.</p>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="yedek">
            <div class="column">
                <h3>Okul Cepte</h3>
                <p> Okulcepte 2024 © Tüm Haklar Saklıdır.</p>
            </div>
    
            <div class="column">
                <h3>Hızlı Erişim</h3>
                <ul>
                    <li class="active"><a href="../index">AnaSayfa</a> </li>
                    <li><a href="../dersler">Dersler</a></li>
                    <li><a href="../hocalar">Hocalar</a></li>
                    <li><a href="../galeri">Galeri</a></li>
                    <li><a href="../uyeolmak">Adımın</a></li>
                    <li><a href="../iletisim">İletisim</a></li>
                </ul>
            </div>
    
            <div class="column">
                <h3>İletisim</h3>
                <h5>Adress</h5> 
                <p> İstanbul, Turkey</p>
                <h5>Email Adresi</h5>
                <p>okulcepte@gmail.com</p>
                <h5>Telefon Numarası</h5>
                <p>+90 5378759809</p>            
            </div>
        </div>
    </footer>
</body>
</html>
{% endblock %}