{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'interface/css/header_footer.css ' %}">
    <link rel="stylesheet" href="{% static 'interface/css/iletisim.css ' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <title>Okulcepte</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="yedek">
                <img src="{% static 'interface/img/logo.png' %}">
                <nav>
                    <ul>
                        <li><a href="../index">AnaSayfa</a> </li>
                        <li><a href="../dersler">Dersler</a></li>
                        <li><a href="../hocalar">Hocalar</a></li>
                        <li><a href="../galeri">Galeri</a></li>
                        <li><a href="../iletisim">İletisim</a></li>
                        <li class="active"><a href="../uyeolmak">Admin</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
   
    <main>
        <div class="yedek">
            <h1>Admin Giriş</h1>
            <form action="{% url 'uyeolmak' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="isim">Admin İsmi:</label>
                    <input type="text" id="isim" name="isim">
                </div>
                <div>
                    <label for="password">Admin Şifresi:</label>
                    <input type="password" id="password" name="password">
                </div>
                
                <div>
                    <button type="submit">Giriş Yap</button>
                </div>
            </form>
        </div>
    </main>
    
    <footer>
        <div class="yedek">
            <div class="column">
                <h3>Okul Cepte</h3>
                <p> Okulcepte 2024 © Tüm Haklar Saklıdır.</p>
            </div>
    
            <div class="column">
                <h3>Hızlı Erişim</h3>
                <ul>
                    <li><a href="{% url 'index' %}">AnaSayfa</a></li>
                    <li><a href="{% url 'dersler' %}">Dersler</a></li>
                    <li><a href="{% url 'hocalar' %}">Hocalar</a></li>
                    <li><a href="{% url 'galeri' %}">Galeri</a></li>
                    <li><a href="{% url 'iletisim' %}">İletisim</a></li>
                    <li class="active"><a href="{% url 'uyeolmak' %}">Admin</a></li>
                </ul>
            </div>
    
            <div class="column">
                <h3>İletisim</h3>
                <h5>Adress</h5> 
                <p> İstanbul, Turkey</p>
                <h5>Email Adresi</h5>
                <p>okulcepte@gmail.com</p>
                <h5>Telefon Numarası</h5>
                <p>+90 5378759809</p>            
            </div>
        </div>
    </footer>
</body>
</html>

{% endblock %}