{% extends 'base.html' %}

{% block content %}
<div class="wrapper" style=" display: flex; margin: 0; padding: 0;">
  <div class="content mx-5 w-100">
    <div class="container-fluid" style="padding: 0;">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Oğrenciler</h1>
        </div>
      </div>
      <section class="content">
        <div class="card card-solid">
          <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
              {% for student in students %}
              <!--studentin baslangici -->
              <div class="col-12 col-sm-4 col-md-3 d-flex align-items-stretch  ">
                <div class="card bg-light">
                  <div class="card-body p-3 pt-0">
                    <div class="row">
                      <div class="col-3 text-center">
                        <img style="height: 48px; width: 48px;" src="{{student.photo.url}}" alt=""
                             class="img-circle img-fluid">
                      </div>
                      <div class="col-9">
                        <h2 class="lead"><b>{{student.name}} </b></h2><!--student adi-->
                        <ul class="fa-ul text-muted">
                          <li class="small"><span class="fa-li"></span>Oğrenci Numarası: {{student.number}}</li>
                          <!--student durumu-->
                          <li class="small"><span class="fa-li"></span>devamsızlık saatleri:{{student.absence_hours}}
                          </li>
                        </ul>
                        Dersler:
                        <ul class="fa-ul text-muted">
                          {% for ders in student.dersler.all %}
                          <li class="small"><span class="fa-li m-0"></span>{{ders.title}}</li>
                          {% endfor %}
                        </ul>
                      </div>

                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="">
                      <a href="{% url 'delete_student' student.id %}" class="btn btn-sm bg-danger">
                        <i class="fas fa-trash"></i>
                      </a>
                      <a href="{% url 'update_student' student.id %}" class="btn btn-sm btn-primary">
                        <i class="fas fa-book"></i> Duzelt
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--studentin bitisi-->
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}